*,
*::before,
*::after {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.navbar {
  background-color: #6b3000;
  color: white;
  display: flex;
  padding: 0 8em;
  height: max-content;
}

.logo {
  height: 100%;
  width: 50%;
  display: flex;
}

.logo a {
  text-decoration: none;
}

.logo a h1 {
  display: block;
  height: 100%;
  width: max-content;
  color: white;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
}

.links a:hover,
.links a:active,
.links a.active {
  color: black;
}
